# Dependencies
node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS
.DS_Store

# Editors / IDE
/.idea
.vscode/*
!.vscode/extensions.json

# dotenv
.env
.env.*
!.env.example

# Misc
*.local
*.tsbuildinfo

# Text task
task.MD